@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Map Rentals</h1>
    <p class="lead">Map Rentals helps you to find a perfect place that meets both your budget and needs. We have thousands of verified options, just for you.</p>
    <a>@Html.ActionLink("Explore", "Index", "Rentals")</a>
</div>

